<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/xml/ns/javaee">
<head>
    <title>City explorer app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/js/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/js/networks.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/js/uiwork.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/js/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="mapContainer"></div>
<div id="dialog">
    <div class="info">HERE mapathon, project by Anton Bardishev</div>
    <div class="sitelogo"></div>
    <table width="40%" align="center">
        <tr>
            <td><h3 sype="font-size: 12px">User name:</h3></td>
            <td><span id="userinfo" stype="font-size: 11px"></span></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" id="textInput" value="testUser"/>
                <button onclick="applyUser()">Apply user</button>
                <button onclick="newPoint()">Save point</button>
                <button onclick="appendPoint()">Append to last point</button>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    init();
</script>
</html>